@import "grid";
%container {
  padding: 1% 5%;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  @extend %container;
  @extend %flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &__image{
    padding: 1% 2%;
    img{
      width: 100%;
    }
  }
}
