@import "grid";
$color-main: rgb(255, 255, 255);
$color-bg2:#efefef;

body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0px 20px;
  padding: 0;
  width: 80%;
}

img{
  width: 40px;
  height: 40px;
}

nav{
  padding: 0;
  height: 50px;
  top: 0;
}

.fixed-nav{
  background-color: $color-main;
  position: fixed;
}

/*botones con background*/
.search-bg{
  background: url("../images/search.png") no-repeat;
  background-size: 40px 40px;
}
#save{
  background: url("../images/icon-profile.png") no-repeat;
}
#category{
  background: url("../images/icon-arrow.png") no-repeat;
}
#notify{
  background: url("../images/message.png") no-repeat;
}
.bg-btn {
  width: 40px;
  height: 40px;
  margin: 0;
}

/*formato de inputs*/
.search {
  box-sizing: border-box;
  background-color: $color-bg2;
  height: 50px;
  padding: 15px;
  &__input {
    outline: none;
    font-size: 1rem;
    border: none;
    &--sizew {
      height: 20px;
      width: 100%;
      background-color: transparent;
    }
  }
}

.flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box{
  box-sizing: border-box;
  margin: 5px;
  &__btn{
    border:none;
  }
}

/*ocultar elementos*/
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-md {
    display: none !important;
  }
}
